<!DOCTYPE html>
<html>
  <head>
    <title>Weather App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="shortcut icon" href="/images/cloudy.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
  </head>


  <body>

    <div id="bannerUser">Connecté en tant que : <%=userName%></div>

    <div>

      <form action="/search" method="POST" class="formCity">
        <span id="labelCity">Ville</span>
        <input id="inputCity" type="text" name="inputCity" placeholder="Paris, Lyon...">
        <button id="btnSearch" class="6" name="search">Enregistrer</button>
      </form>

    </div>


    <div class="container">
      <div class="row">

        <div class="col-lg" id="mapid"></div>

        <div class="col-lg">
          <%
          for(var i=0; i < cities.length; i++){
          %>
          <div class="row row-cities">
            <div class="col-3 cityNames"><a class="linkCities" target="_blank" href="https://fr.wikipedia.org/wiki/<%=cities[i].name%>"><%=cities[i].name%></a></div>
            <div class="col-7 d-flex justify-content-between">
              <div class="icons col-1"><img class="iconsWeather" src="<%=cities[i].icon%>"></div>
              <div class="weatherStatus col-3 text-left"><%=cities[i].weatherDescription%></div>
              <div class="tempMin col-2 text-center"><%=cities[i].tempMin%>°C</div>
              <div class="tempMax col-2 text-center"><%=cities[i].tempMax%>°C</div>
            </div>
            <div class="col-2 text-right">
              <form action="/delete-city" method="post">
      					<input type="hidden" name="cityName" value="<%= cities[i].name %>">
      					<button name="deleteIcon"><i class="far fa-times-circle"></i></button>
      				</form>
            </div>
          </div>
          <%
          }
          %>

        </div>
      </div>
    </div>



    <script>
			function activerRechercheVille (){
				var input = document.getElementById('inputCity');
				var autocomplete = new google.maps.places.Autocomplete(input);
			}
		</script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBo1yAF_QtMCG7RZf78BxvmWw7aDxT4lIE&libraries=places&callback=activerRechercheVille"></script>

    <script>
      var mymap = L.map('mapid').setView([38.276192, 13.162902], 1);

      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoia3ZubG1icnRuIiwiYSI6ImNqbXJqdmZmcjFrbGgzcXFrem01NHJuZ2UifQ.0-pzQ77AeQaXF72WUZ9f0w', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox.streets',
      accessToken: 'pk.eyJ1Ijoia3ZubG1icnRuIiwiYSI6ImNqbXJqdmZmcjFrbGgzcXFrem01NHJuZ2UifQ.0-pzQ77AeQaXF72WUZ9f0w'
      }).addTo(mymap);

      <%
      for(var i=0; i < cities.length; i++){
      %>
          var marker = L.marker([<%=cities[i].latitude%>, <%=cities[i].longitude%>]).addTo(mymap);
      <%}%>
    </script>


  </body>
</html>
